body 
{
	background-image:url(images/img.png);
	background-repeat:repeat-x;
}
.button {
    border: 1px solid #006;
    background: #3ea4b9;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
-border-radius: 5px;
}
.textbox
{
	width:120px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-border-radius: 5px;
	background:#3ea4b9;
}

#tblStudent
{
	
	
}
#tblDetails
{
	
}
#tblCommon
{
	
}